/* bring in the fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@300;700&family=Nanum+Pen+Script&display=swap');

/* This seem to help width fill the screen when viewing on a smaller device */
.wrapper {

  overflow-x:hidden;
}

/* Header */

header {
  background-color: #6b655b;
  margin-bottom: 40px;
}

header h1 {
  color: #eff0e5;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  font-family: 'Nanum Pen Script', 'Brush Script MT';
  font-size: 56px;
  text-align: center;
}

header nav{
	display: flex;
	justify-content: center;
}

header nav ul{
	display: flex;
	padding-left: 0;
	list-style: none;
}

header nav ul li a{
	color: #eff0e5;
	text-decoration: none;
	margin-right: 10px;
}


main h2 {
  font-size: 28px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}





/* Group and Items mobile first  */

.group{
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.group-no-mg{
	margin-bottom: 0px;
}

.item{
	flex: 1;
  margin: 10px;
}

.item-double{
	flex: 2;
  margin: 10px;
}

/* styling about section */
.about-h2 {
	padding-left: 10px;
	padding-top: 50px;
	margin-bottom: 0;
}

.bottom-padding {
	padding-bottom: 30px;
}

/* This applies from 600px and larger */
@media all and (min-width: 600px) {
   article{
     padding: 50px 10%;
   }

   .group {
     flex-direction: row;
	 margin-bottom: 60px;
   }
   
   header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  
  header nav{
	  margin-top: 10px;
  }
  
  header h1{
	padding-top: 0;	
	font-size: 42px;
	margin: 15px 0;
  } 
	
  .portfolio {
  margin-top: 2em;
  margin-right: 4em;
}
}


.item img{
  width: 100%;
}
.portfolio img{
  border: 0;
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}

.portfolio {
  margin-top: 2em;
  margin-right: 4em;
}

img.rounded {
  border-radius: 50%;
}

.bg-dark {
  background-color: #c5c0b8;
}

form input, form textarea{
  width: 100%;
  margin-bottom: 20px;
}

#contact .item{
	padding-right: 40px;
}

.space-section {
	margin-bottom: 30px;
}
.space-section-top {
	margin-top: 30px;
}

.container-iframe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 62.5%; /* 8:5 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
